Source: kde-gtk-config
Section: kde
Priority: optional
Maintainer: Boris Pek <tehnick-8@mail.ru>
Build-Depends: debhelper (>= 7.0), cmake
Homepage: https://projects.kde.org/projects/playground/base/kde-gtk-config
Vcs-Git: git://github.com/tehnick/kde-gtk-config-debian.git
Vcs-Browser: https://github.com/tehnick/kde-gtk-config-debian
Standards-Version: 3.9.2

Package: kde-gtk-config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTK2 and GTK3 Configurator for KDE
 The tool integrates itself into the KDE System Settings --> Appearance pane,
 and let's you easily customise GTK2 and GTK3 theming under KDE:
  - Choose which theme is used for GTK2 and GTK3 applications
  - Specify whether menus show or hide icons/text
  - Choose  icon theme for GTK applications
  - Adjust font (if needed)
  - Lets you browse, download and install new GTK2 and GTK3 themes directly
    from the dekstop.
